 @model Avenue.DTO.WeddingVenuesDto

<div class="form-horizontal">
    @Html.ValidationSummary(true)



    <h2 class="@ViewBag.style text-danger">@ViewBag.message</h2>
    <br />
    <hr />
    <br />
    <fieldset class="col-md-12">

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </fieldset>

    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.Category.Id, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(x => x.Category.Id, (IEnumerable<SelectListItem>)ViewBag.categoryParenId, "لطفا دسته را انتخاب نمایید", new { @class = "form-control", required = "required", id = "CategoryId" })
                @Html.ValidationMessageFor(model => model.Category.Id)
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(x => x.Category.Id, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(x => x.Category.Id, (IEnumerable<SelectListItem>)ViewBag.ChildId, "لطفا دسته را انتخاب نمایید", new { @class = "form-control", id = "ChildId" })
                @Html.ValidationMessageFor(x => x.Category.Id)
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.StateId, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(x => x.StateId, (IEnumerable<SelectListItem>)ViewBag.States, "لطفا استان را انتخاب نمایید", new { @class = "form-control", id = "StateId", required = "required" })
                @Html.ValidationMessageFor(model => model.StateId)
            </div>
        </div>
    </fieldset>

    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.Cities, "انتخاب منطقه...", new { @class = "form-control", id = "CityId", required = "required" })
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>
    </fieldset>

    <div class="row">
        <fieldset class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
        </fieldset>


        <fieldset class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.Tel, new { @class = "col-sm-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Tel, new { @class = "form-control integer", required = "required" })
                    @Html.ValidationMessageFor(model => model.Tel)
                </div>
            </div>
        </fieldset>
    </div>


    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.MinCapacity, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.MinCapacity, new { @class = "form-control integer" })
                @Html.ValidationMessageFor(model => model.MinCapacity)
            </div>
        </div>
    </fieldset>

    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.MaxCapacity, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.MaxCapacity, new { @class = "form-control integer" })
                @Html.ValidationMessageFor(model => model.MaxCapacity)
            </div>
        </div>
    </fieldset>




    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.Videos, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                <input type="file" name="Videos" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                @Html.ValidationMessageFor(model => model.Videos)
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-12">

        <div class="form-group">
            <div class="col-md-6">
                <output id="list"></output>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.WebSite, new { @class = "col-sm-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.WebSite, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WebSite)
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })

            @Html.CheckBoxFor(x => x.Status, new { id = "roundedcheckbox10", name = "Status" })

        </div>
    </fieldset>
    <fieldset class="col-md-10">

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })

            <div class="">
                @Html.TextAreaFor(model => model.Description, 10, 10, new { @class = "form-control note-editor", required = "required" })
                @Html.ValidationMessageFor(model => model.Description)

            </div>
        </div>
    </fieldset>

    <fieldset class="col-md-10">
        <div class="form-group ">
            <label class="control-label col-sm-2"> امکانات</label>
            <div class="col-sm-10">
                <div class="col-md-5 ">
                    <div class="tagadd">
                        @Html.DropDownListFor(model => model.FacilityId, ViewBag.FacilityId as IEnumerable<SelectListItem>, new { @class = "form-control select2-1", @multiple = "multiple" })
                        @*@Html.DropDownList("AttributeId", null, new { @class = "form-control select2-1", @multiple = "multiple" })*@
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <fieldset class="col-md-12">

        <div class="form-group">
            موقعیت

            <div class="col-md-12">
                <div id="map" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </fieldset>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ذخیره" class="btn btn-primary start" />
            @Html.ActionLink("انصراف", "Index", null, new { @class = "btn btn-white" })
        </div>
    </div>
</div>

